@page
@model CRUDcars.Pages.cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cars</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars.mname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars.mname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cars.mans)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cars.mans.MID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cars.CID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
