@page
@model CRUDcars.Pages.cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cars[0].mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cars[0].mans)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mans.MID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
